.App{
    display: flex;
    /* width: 100%; */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    flex-direction: column;
    background-color: rgb(226, 64, 43);
    height: 100%;
}