.Postscontainer{
    display: flex;
    width: 70%;
    flex-direction: row;
    gap: 15px;
}
.CircularProgress{
    width: 100%;
    height:700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.posts-Grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}